@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form name="form1" method="post" id="form1" action="/Home/About">
    <input type="submit" value="TestStart" name="btnSubmit"/>
    
    <input type="submit" value="TestStop" name="btnStop"/>
</form>
